*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}


body{
    height: 100vh;
    display: flex; 
    flex-direction: column;
    padding-inline: 80px;
    background-color: rgb(0, 0, 0);
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 170px;
    width: 170px;
    background-image: url(./img/ichigoooopng.png);
    background-size: 90%;
    background-repeat: no-repeat;
  
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}

main{
    flex-grow: 1;
    display: flex;
}
.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 96px;
}
.conteudo p{
    width: 80%;
    font-size: 40px;
}
.acao button{
    height: 80px;
    width: 300px;
    background-color: rgb(101, 23, 211);
    color: white;
    font-size: 32px;
}
.social{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size:100%;
    background-repeat: no-repeat;

}
.img1{
    background-image: url(./img/Instagram_icon.png);

}
.img2{
    background-image: url(.//img/whatsapp-33.png);
}
.img3{
    background-image: url(./img/facebook-13.png);
}

.destaque{
    width: 50%;
    background-image: url(./img/ichigo\ 4k.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    color: white;
}
p{
    color: white;
}
h1{
    color: white;
}
footer{
    color: white;
}
